<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
	<div class="container-fluid">
		<a class="navbar-brand d-flex align-items-center" href="{{ path('homepage') }}">
		<img src="{{ asset('uploads/img/main/logo.png') }}" alt="Logo" width="" height="45" class="d-inline-block align-text-top">
		Space Conquest</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('homepage') }}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('missions_index') }}">Space Missions</a>
				</li>
                <li class="nav-item">
					<a class="nav-link" href="{{ path('admin') }}">Admin</a>
				</li>
			</ul>
			{#<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('profile_index') }}">Mon compte</a>
					</li>
					{% if app.user.isVerified %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('admin') }}">Admin</a>
						</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
					</li>
				{% endif %} 
			</ul>#}
		</div>
	</div>
</nav>
